.search-container{
    display:flex;
    align-items:center;
    border: 1px solid rgb(215, 213, 213);
    border-radius: 10px;
    background-color: #d8d8d8;
    /* padding:5px; */
    height: 50px;
}

.search-container input{
    border: none !important;
    background-color: #d8d8d8;
    color:black  !important;
    outline: none;
}

.search-container {
    position: relative;
  }
  
  .input-container {
    /* width: 100%; */
    position: relative;
  }
  
  .input-container input {
    width: 100%;
    padding: 10px;
    border: none;
    color:black  !important;
}

  .recommendations {
    position: absolute;
    top: 110%; 
    left: 0;
    color:black  !important;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-top: 1px solid #ccc; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-height: 150px; 
    overflow-y: auto; 
    z-index: 99999; 
    border-radius: 10px;
  }
  
  .recommendations div {
    padding: 10px;
    cursor: pointer;
  }
  
  .recommendations div:hover {
    background-color: #f0f0f0;
  }

  .icon {
    font-size: 15px !important;
  }
  
  .search-btn{
      background-color: rgb(78, 90, 196);
      border-radius: 10px;
      padding: 10px;
      font-size: 14px;
      cursor: pointer;
      outline: none;
      border: none;
      height: min-content;
      align-self: center;
      margin-right: 10px;
      color: white;
  }

@media (max-width: 780px) {
    .search-container{
        max-width: 400px;
        align-self: center !important;
        display: flex;
        align-items: center;
    }

    .search-container input {
      max-width: 260px;
      padding: 10px;
      border: none;
      color:black  !important;
  }
    .icon {
      font-size: 35px;
    }
}