.profile-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(248, 250, 255);
    flex-direction: column;
}

.profile-modal-container{
  width: 90%;
  box-shadow: 0px 5px 6px 0px rgba(101, 101, 101, 0.3);
  padding:20px;
  background-color: white;
  max-height: 90vh;
  overflow:scroll;
  border-radius: 10px;
}

.profile-modal-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.profile-img{
    height:100px;
    width: 100px;
}

.profile-user-info p{
    font-size:18px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}