.navbar-container{
    display:flex;
    align-items:center;
    justify-content:space-around;
    background-color: blue ;
}
.navbar-content{
    display:flex;
    align-items:center;
    justify-content:space-around;
    gap:20px;
}

.navbar-title{
    font-family: 'Pattaya';
    font-style: italic;
}

.navbar-right-container{
    display:flex;
    align-items: center;
    gap:15px;
}

  /* --------------------------------another css------------------------------- */


  

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
   background-color: rgb(78, 90, 196);
   color: white;
}

nav .title {
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

nav ul {
    display: flex;
}

nav ul li {
   list-style: none; 
   cursor: pointer;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}

nav ul li h4:not(.active):hover {
    color:#172554 ;
}

nav .menu{
    display: none;
    position: absolute;
    right: 0.2rem;
    top: 1.35rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

.search-icon{
    display: none;
    position: absolute;
    right: 2.5rem;
    top: 1.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;

}

nav .menu span {
    height: 0.2rem;
    width: 100%;
    background-color: black;
    border-radius: 0.2rem;
}

.signin-btn button,.logout-icon{
  /* position: absolute; */
  /* left: 31%; */
   border:none;
   color:white;
   padding:5px;
   background-color: rgb(37, 21, 144);
   font-size: 15px;
   font-weight: bold;
   padding-left: 10px;
   padding-right: 10px;
   cursor: pointer;
   border-radius: 5px;
}

.user-icon-component{
    display:flex;
    align-items: center;
}

.user-icon{
    height:45px;
    width:45px;
}

@media (max-width: 780px) {
    nav .menu ,.search-icon{
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        display: none;
        flex-direction: column;
        margin-bottom: 0.25rem;
        align-self: center
    }

    nav ul.open {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .navbar-title{
        margin-left: 0.8rem;
    }

    nav ul li {
        width: 100%;
        text-align: center;
        justify-content: center;
        display: inherit;
        
    }

    @keyframes slideIn {
        from {
          max-height: 0;
          opacity: 0;
        }
        to {
          max-height: 200px; 
          opacity: 1;
        }
      }
      
      @keyframes slideOut {
        from {
          max-height: 200px; 
          opacity: 1;
        }
        to {
          max-height: 0;
          opacity: 0;
        }
      }
      
      .search-input-container {
        display: none;
      }
      
    

    .navbar-right-container{
        display:none;
    }
}