.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 9999;
    min-height: 100vh;
}

.modalContent {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column; 
    position: relative;
    width: 85%;
    position: relative;
    padding:20px;
    max-height: 85%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  /* Apply a little styling to form elements */
.resumeform form {
    /* max-width: 600px; */
    /* margin: 0 auto; */
    padding: 20px;
  }
  
  .resumeform div {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .resumeform input[type="text"] ,.resumeform textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .resumeform button {
    background-color: #0074D9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .resumeform button:hover {
    background-color: #0056b3;
  }
  